 
@media (min-width: 1920px) and (max-width: 2560px) {

    body {
      background: black;
    }
    
    h1 {
      color: red;
    }

    .mainContainer {
      display: flex;
    }

    .canvasContainer {
      display: flex;
      margin: auto;
      height: 1000px;
      width: 1000px;
    }

    canvas {
      margin: auto;
      border: 1px solid white;
    }

    .overlay {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: black;
      z-index: 10;
      opacity: 1;
      visibility: visible;
      transition: all 0.3s ease-in-out;
  }
  
    .overlay.hide {
        opacity: 0;
        visibility: hidden;
    }

    .raceForm {
      margin: auto;
      height: 1000px;
      width: 1000px;
    }

    #configTitle {
      background-color:black;
      color: white;
      text-align: center;
    }

    #trackConfig {
      background-color:black;
      color: white;
      text-align: center;
    }

    .inputFormElem {
      background-color:black;
      color: white;
      margin-left: 225px;
      width: 200px;
      height: 30px;
      margin-bottom: 25px;
      font-size: 25px;
      border: 4px solid;
      border-color: white;
      text-align: center;
    }

    input {
      margin-top: 5px;
      margin-bottom: 5px;
    }

    #racerColour {
      margin-left: 425px;
    }

    .addConfigButton {
      width: 208px;
      height: 34px;
      font-size: 20px;
      margin-left: 225px;
    }

}